* {
  box-sizing: border-box;
}
.body{
  color: #99a0b0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f5f5fa;
    font-size: 16px;
    line-height: 120%;
    font-family: Open Sans, Helvetica, sans-serif;
}
.dashboard{
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.grid {
  grid-template-areas:
    'menu search'
    'menu content';
}
#header{
  grid-area: menu;
  width: 300px;
}
#section{
  grid-area: search;
}
.content-wrap{
  grid-area: content;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}